/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
@import "bootstrap";

.home {
  position: relative;
  background-color:  #f1e9d4;
  font-size: 16px;

  .brand-logo {
    position: relative;
    margin-top: -80px !important;
    margin-bottom: 20px;
    width: 180px;
    height: 180px;
  }

  h2, h5 {
    position: relative;
    color: rgb(21, 59, 82) !important;
  }

  form {
    button {
      position: relative;
      background-color: rgb(21, 59, 82) !important;
    }
  }

  .social-links {
    a {
      border-radius: 25px;
      border: 1px solid #EEE;
      padding: 10px;
    }
  }
}
